.row {
    padding-top: 20px;
}

.card-text {
    height: 100px;
}

.red {
    color: red;
}

.login-label {
    float: left;
}

.lgn-btn{
    float: left;
}

.form {
    padding-left: 100px;
}

.watch {
    margin-left: 15px;
    background-color:#0069D9;
    color: white;
}

.card-col {
padding-top: 20px;
}

.remove {
    margin-left: 15px;
    background-color:#be2e35;
    color: white;
}

.droplist, dropdown {
   
    padding-top: 10px;
}

.form-row {
    margin-left: 40px;
}

.fetch {
    padding-top: 10px;
}